* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #000;
}

.container .head {
    position: absolute;
    top: 0;
    left: 0;
 
    width: 100%;
    padding: 0 50px;
    z-index: 2;
}

.container .head img {
    width: 13%;
}

.container .head a {
    color: #fff;
    text-decoration: none;
    background-color: #e50914;
    padding: 8px 18px;
    border-radius: 5px;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner .fit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit:cover ;

}


.banner .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

}


.banner .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .heading h2 {
    font-size: 50px;
    letter-spacing: 2px;
    width: 80%;
    color: #fff;
}


.banner .box .heading h3 {
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: 2px;
    width: 80%;
    color: #fff;
}

.banner .box .heading p {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    padding: 13px 0; /* top right bottom left */
    padding-bottom: 10px;

}


.banner .box .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.banner .box .search input {
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 2px;
    padding: 10px 10px 10px;
    min-width: 450px;
    height: 60px;
    align-items: center;
}

.banner .box .search a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    background-color: #e50914;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45) ;
    font-size: 26px;
    line-height: 60px;
    min-width: 310px;
    padding: 0 30px;

}


.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}


.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #000, transparent);
}

/* 
================================================================
================================================================
start part1 
*/
.part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 32px 48px;
    border-bottom: 13px solid #111;
}

.part1 .talk {
    width: 40%;
}


.part1 .talk h1 {
    font-size: 53px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part1 .talk p {
    font-size: 27px;
    color: #fff;
}

.part1 .img {
    width: 49%;
}

.part1 .img img {
    width: 100%;
}

/* 
================================================================
================================================================
end part1 
*/




.ofme {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
    border-bottom: 13px solid #111;
}


.pos {
    position: relative;
}


.pos video {
    position: absolute;
    top: 70px;
    left: 64px;
    z-index: -1;

}

.h1h1h1 {
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;

}
.pkpkpkp {
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;

}
.parent{
    display: flex;
    justify-content: right;
    margin-top: -66px;
    opacity: .3;

    
    
}
